<html>
  <h2 style="background-color:DodgerBlue;">My Budget</h2>
  <h4>Income = R2000<img src="images\income.jfif" width="30" height="30"></h4>
<table>
  <tr>
    <th>Item</th>
    <th>Expense</th>
  </tr>
  <tr>
    <td>Transport <img src="images\transport.png" width="30" height="30"></td>
    <td><input #num1 /></td>
  </tr>
  <tr>
    <td>Food<img src="images\food.jfif" width="30" height="30"></td>
    <td><input #num2 /></td>
  </tr>
  <tr>
    <td>Airtime<img src="images\airtime.png" width="30" height="30"></td>
    <td><input #num3 /></td>
  </tr>
  <tr>
    <td>Clothes<img src="images\clothes.png" width="30" height="30"></td>
    <td><input #num4 /></td>
  </tr>
  <tr>
    <td>DSTV<img src="images\dstv.jfif" width="30" height="30"></td>
    <td><input #num5 /></td>
  </tr>
  <tr>
    <td>Petrol<img src="images\petrol.png" width="30" height="30"></td>
    <td><input #num6 /></td>
  </tr>
</table>
<button (click)="calc(num1.value,num2.value,num3.value,num4.value,num5.value,num6.value)">Change</button>
<p> </p>
<p> </p>
</html>